/* You can add global styles to this file, and also import other style files */

body, html
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif
  -webkit-font-smoothing: antialiased

.navbar
    background-color: var(--bs-dark) !important

    [data-bs-theme="dark"] &
        background-color: var(--bs-dark-bg-subtle) !important
